vr-ballsobj
vr-ballsTemp
.suo
.user
.pidb
.userprefs

vr-ballsLibrarycache
vr-ballsLibrarymetadata
vr-ballsLibrarypreviews
vr-ballsLibraryScriptAssemblies
vr-ballsLibraryassetDatabase3
vr-ballsLibraryAssetImportState
vr-ballsLibraryassetservercachev3
vr-ballsLibraryAssetServerCacheV3
vr-ballsLibraryAssetVersioning.db
vr-ballsLibraryAudioManager.asset
vr-ballsLibraryBuildPlayer.prefs
vr-ballsLibraryBuildSettings.asset
vr-ballsLibraryDynamicsManager.asset
vr-ballsLibraryEditorSettings.asset
vr-ballsLibraryEditorUserBuildSettings.asset
vr-ballsLibraryexpandedItems
vr-ballsLibraryFailedAssetImports.txt
vr-ballsLibraryguidmapper
vr-ballsLibraryInspectorExpandedItems.asset
vr-ballsLibraryMonoManager.asset
vr-ballsLibraryNetworkManager.asset
vr-ballsLibraryScriptMapper