vr-balls/obj
vr-balls/Temp
.suo
.user
.pidb
.userprefs

vr-balls/Library/cache
vr-balls/Library/metadata
vr-balls/Library/previews
vr-balls/Library/ScriptAssemblies
vr-balls/Library/assetDatabase3
vr-balls/Library/AssetImportState
vr-balls/Library/assetservercachev3
vr-balls/Library/AssetServerCacheV3
vr-balls/Library/AssetVersioning.db
vr-balls/Library/AudioManager.asset
vr-balls/Library/BuildPlayer.prefs
vr-balls/Library/BuildSettings.asset
vr-balls/Library/DynamicsManager.asset
vr-balls/Library/EditorSettings.asset
vr-balls/Library/EditorUserBuildSettings.asset
vr-balls/Library/expandedItems
vr-balls/Library/FailedAssetImports.txt
vr-balls/Library/guidmapper
vr-balls/Library/InspectorExpandedItems.asset
vr-balls/Library/MonoManager.asset
vr-balls/Library/NetworkManager.asset
vr-balls/Library/ScriptMapper